body{
    background-image: url(../images/hollywood-light-night.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 

}

#tv-show-search{
    width: 100%;
}
#head-img{
    width: 100%;
    height: 150px;
}
.tv-show, .fav-show{
    margin:2.5px;
}
.overlay{
    position: absolute;
    bottom: 160px;
    right: 0px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.gif-image{
    position: relative;
}
#load-more{
    position: absolute;
    top: 110px;
    right: 393px;
    padding-left: 10px;
    padding-right: 10px;
}
.gif-logo{
    width: 100%;
    height: 150px;
}
.dwn-btn{
    position: absolute;
    top: 176px;
    right: 0px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}